@page "/transacoes"
@inherits GetAllTransactionsPage

<MudText Typo="Typo.h3">Transações</MudText>
<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.TwoTone.Add"
               Href="/transacoes/adicionar">
        NOVA TRANSAÇÃO
    </MudButton>
</div>

<MudDataGrid Class="mt-4"
             Items="@Transactions"
             Filterable="true">
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" />
        <PropertyColumn Property="x => x.Title" Title="Título" />
        <PropertyColumn Property="x => x.CreatedDate" Title="Criado" />
        <PropertyColumn Property="x => x.PaidOrReceivedAt" Title="Recebido" />
        <PropertyColumn Property="x => x.Type" Title="Tipo de transação" />
        <PropertyColumn Property="x => x.Amount" Title="Quantia" />
        <PropertyColumn Property="x => x.CategoryId" Title="Categoria" />
        <TemplateColumn Filterable="false" Sortable="false">
            <CellTemplate>
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Error"
                               OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Title)" />
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Filterable="false" Sortable="false">
            <CellTemplate>
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Default"
                               Href=@($"/transacoes/editar/{context.Item.Id}") />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>